

.headerr{
    height: 650px;
    width: 100%;
    background-image: url(../../assets/imapct.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     
    
}



.headerr h1{
    font-size: 80px;
    font-weight: 700;
   padding-top: 450px;
   color:white;
  padding-left: 10px;
}


@media only screen and (max-width: 800px)
{
    .headerr h1{
       
        display: none;
    }

}


.mytext{


    color:#243E86;
    text-align: center;
    justify-content: center;
    margin-top: 35px;
    font-size: 22px;
    font-family: freight-sans-pro,sans-serif;
    
}

.myhead{
    text-align: center;
    color:#243E86;;
    line-height: 70px;
    position: relative;
    font-family: freight-sans-pro,sans-serif;
    
    
}

.myhead::after{
    content: '';
    background: lightgray;
    position: absolute;
    width: 100px;
    height: 5px;
    bottom: 0;
    border-radius: 5px;
    left: 50%;
    transform:translateX(-50px);
   
}



.Mynumber{
    color:#243E86;
    text-align: center;
    font-weight: 900;
    font-size: 82.8px;
    line-height: 73px;
    font-family: humane-script,cursive;
    margin-top: 50px;
}

.Mytxt{
    color:#243E86;
    text-align: center;
    margin-top: 30px;
    font-family: freight-sans-pro,sans-serif;
    font-weight: 600;
    font-size: 20px;


}

