
<div class="headerr">
    <div class="container">
          <h1>Contact Us</h1>
    </div>  
</div>


<!--------------------->
<div class="container-fluid  my-4">
    <h1 class="myhead" data-aos="flip-up">Questions?</h1>
    <div class="row">
      <div class="col-md-3 col-sm-3 ">
        
      </div>
      <div class="col-md-6 col-sm-6" data-aos="fade-right">
       <p  class="MYtext">The Humane Society of the United States<br>
        1255 23rd St. NW, Suite 450<br>
        Washington, DC 20037<br>
        <a href="#">202-452-1100</a> or <a href="#">866-720-2676</a><br>
        Monday through Friday 8 a.m. to 11 p.m.</p>
      </div>
      <div class="col-md-3 col-sm-3 ">
       
      </div>
    </div>

<!-------------------------------------->

<div class="container-fluid  my-4" >
    <h1 class="myhead" data-aos="flip-up">In case of emergency</h1>
    <div class="row">
      <div class="col-md-1 col-sm-0 ">
        
      </div>
      <div class="col-md-10 col-sm-12">
       <p  class="MYtext">If you have found a stray or injured animal, please call your local animal care and control agency <br>immediately. You can search for your local agency online at  <a href="#">Adopt-a-Pet.com</a> or  <a href="#">Petfinder.com</a></p>
      </div>
      <div class="col-md-1 col-sm-0 ">
       
      </div>
    </div>
<!-------------------------------------FORM-------------------------------------------------->


<div class="container-fluid  my-4">
    <h1 class="myhead" data-aos="flip-up">Contact US</h1>

    <form>
    <div class="row">
      <div class="col-md-2 col-sm-0 ">
        
      </div>
      <div class="col-md-8 col-sm-12">
        <label for="validationCustom01" class="form-label">First name</label>
        <input type="text" class="form-control" id="validationCustom01"  required>
      </div>
      <div class="col-md-2 col-sm-0 ">
       
      </div>
    </div> 
    
    <br>
    
    <div class="row">
        <div class="col-md-2 col-sm-0 ">
          
        </div>
        <div class="col-md-8 col-sm-12">
            <label for="validationCustom02" class="form-label">Last name</label>
            <input type="text" class="form-control" id="validationCustom02"  required>
        </div>
        <div class="col-md-2 col-sm-0 ">
         
        </div>
      </div>   
 
      <br>
      <div class="row">
        <div class="col-md-2 col-sm-0 ">
          
        </div>
        <div class="col-md-8 col-sm-12">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="col-md-2 col-sm-0 ">
         
        </div>
      </div>  

      <br>
      <div class="row">
        <div class="col-md-2 col-sm-0 ">
          
        </div>
        <div class="col-md-8 col-sm-12">
            <label for="exampleFormControlTextarea1" class="form-label">Street address</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="col-md-2 col-sm-0 ">
         
        </div>
      </div>  

      <br>
      <div class="row">
        <div class="col-md-2 col-sm-0 ">
          
        </div>
        <div class="col-md-8 col-sm-12">
            <label for="validationCustom03" class="form-label">City</label>
            <input type="text" class="form-control" id="validationCustom03" required>
        </div>
        <div class="col-md-2 col-sm-0 ">
          
        </div>
      </div> 
      <br>
      <div class="row">
        <div class="col-md-2 col-sm-0 ">
          
        </div>
        <div class="col-md-4 col-sm-6">
            <label for="validationCustom04" class="form-label">State</label>
            <input type="text" class="form-control" id="validationCustom05" required>
        </div>
        <div class="col-md-3 col-sm-6 ">
            <label for="validationCustom05" class="form-label">Zip</label>
            <input type="text" class="form-control" id="validationCustom05" required>
        </div>
      </div>  
      <br>
      <div class="row">
        <div class="col-md-2 col-sm-0 ">
          
        </div>
        <div class="col-md-8 col-sm-12">
            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
        <div class="col-md-2 col-sm-0 ">
         
        </div>
      </div>  

<br>
      <form class="row">
        <div class="col-md-2 col-sm-0 ">
          
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                  Agree to terms and conditions
                </label>
        </div>
        <div class="col-md-2 col-sm-0 ">
         
        </div>
      </div>  
      <br>
      <br>

      <div class="row">
        <div class="col-md-2 col-sm-0 ">
          
        </div>
        <div class="col-md-8 col-sm-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-md-2 col-sm-0 ">
            
        </div>
      </div>  
    </form>

    <!----------------FOOTER---------------->
    <footer class="container my-5">
      <p style="text-align: center;">©2021 AnimalShelter Charities®, Inc. All rights reserved.</p>
  </footer>




    

