
<!-------------CAROUSEL SLIDERS----------->
<div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item" style="background-image: url(../../assets/s9.jpg);">
   
  
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>National Adoption Days</h1>
            <p>When you adopt love, you’re changing their life and yours.<br>
              Make a difference for a homeless pet and bring love home.</p>
            <p><a class="btn btn-lg btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#signupModal">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item active" style="background-image: url(../../assets/s3.jpg);">
      
  
        <div class="container">
          <div class="carousel-caption">
            <h1>Adoption can change their life</h1>
            <p>Saving one animal won’t change the world, but it will change the world for that one animal.</p>
            <p><a class="btn btn-lg btn-primary" href="https://petsmartcharities.org/our-stories" target="blank">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url(../../assets/s2.jpg);">
       
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Protect, rescue, adopt, repeat</h1>
            <p>Keep rescuing animals. You may lose your mind, but you will surely find your soul.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <!---------------------------------------------------------------->
  
  <div class="container my-4">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="card" style="width: 18rem;">
            <img src="../assets/6.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" id="mytitle">Adopt a dog, Make them feel lucky!</h5>
              <p class="card-text"> Not only do animals give you unconditional love, but they have been shown to be psychologically, emotionally and physically beneficial to their companions</p>
              <a href="#" class="btn btn-outline-primary">Adopt  Me</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="card" style="width: 18rem;">
            <img src="../assets/12.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" id="mytitle">If you want a pet, why not adopt someone in need</h5>
              <p class="card-text">Because all pets are good for your health, but adoptees offer an extra boost.
                And when you adopt, you can also feel proud about helping an animal in need!</p>
              <a href="#" class="btn btn-outline-primary">Adopt  Me</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="card" style="width: 18rem;">
            <img src="../assets/11.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" id="mytitle">Happy home for a pet is a happy home for you</h5>
              <p class="card-text">Because you'll change a homeless animal's whole world.
                And get a new best friend out of the deal. New friend in your home will be a new member in your life<p>
              <a href="#" class="btn btn-outline-primary">Adopt  Me</a>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  
  
  
    
    <!------------------------>
    <div class="container marketing">
    <hr class="featurette-divider">
    
        <div class="row featurette">
          <div class="col-md-6 col-sm-6">
            <h2 class="featurette-heading"><h2 class="MYtext">in-store adoption centers</h2> <span class="text-muted">PetSmart Charities Adoptions</span></h2>
                 <p class="lead">PetSmart generously donates space in their stores to help adoptable pets find homes. With their help, two pets are adopted every minute a PetSmart store is open.</p>
                 <a href="#" class="mybtn">Adopt Now<i class="fa fa-long-arrow-right mx-2" aria-hidden="true"></i></a>
        </div>
          <div class="col-md-6 col-sm-5">
           <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="../../assets/help.jpg">
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
          <div class="col-md-5 col-sm-5 order-md-2">
            <h2 class="featurette-heading"><h2 class="MYtext">change a life</h2>  <span class="text-muted">Can't Adopt? Donate to Help Pets in Need</span></h2>
            <p class="lead">Help pets find the loving homes they deserve. When you donate, we ensure more than 90 cents of every dollar goes directly to help pets and those who love them.</p>
           <!---- <a href="#" class="mybtn" >Donate Now</a>-->
           <a class="nav-link active" routerLink="/donate" class="mybtn">Donate Now<i class="fa fa-long-arrow-right mx-2" aria-hidden="true"></i></a>
          </div>
          <div class="col-md-6 col-sm-6 order-md-1">
            <img  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="../../assets/help2.jpg">
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
          <div class="col-md-6 col-sm-6 ">
            <h2 class="featurette-heading"><h2 class="MYtext">funding</h2>  <span class="text-muted">Grant Opportunities</span></h2>
            <p class="lead">Since 1994, we’ve supported nonprofits and governmental entities with over $451 million in grant funds.You can go to the Shelter Pet Project to find pets near you, of every size, color, temperament and breed. Purebred and mixed breed animals alike are waiting for their forever homes!
            </p>
          
  
            <a href="#" class="mybtn">Get Started<i class="fa fa-long-arrow-right mx-2" aria-hidden="true"></i></a>
          </div>
          <div class="col-md-5 col-sm-5">
           <img  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="../../assets/web-dog-meat-rescue-492031.jpg">
           </div>
        </div>
    
        <hr class="featurette-divider">
    
      
    
    
      </div>
    
    <!------------Footer---------------->
    
    
      <footer class="container my-4">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <h1 class="my">Contact Us</h1>
    
         <p class="my2">call toll free</p>
         <p class="my">1-800-423-7387</p>
         <p class="my2">say hello</p>
         <p class="my">send a message</p>
        </div>
        <div class="col-md-4 col-sm-4">
          <h1 class="my">follow us</h1>
          
          <a href="https://www.instagram.com/petsmartcharities/" target="blank"><i class="fa fa-instagram fa-2x" id="my" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/PetSmartCharities" target="blank"><i class="fa fa-facebook fa-2x"id="my" aria-hidden="true"></i></a>
          <a href="https://twitter.com/PetSmartChariTs" target="blank"><i class="fa fa-twitter fa-2x" id="my" aria-hidden="true"></i></a>
          <a href="https://www.youtube.com/user/PetSmartCharitiesInc" target="blank"><i class="fa fa-youtube-play fa-2x" id="my" aria-hidden="true"></i></a>
          
          
        </div>
        <div class="col-md-4 col-sm-4">
          <h1 class="my">stay connected</h1>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter Your Email Address" aria-label="Enter Your Email Address" aria-describedby="button-addon2">
            <button class="btn btn-outline-primary"  type="button" id="button-addon2">Submit</button>
          </div>
        </div>
      </div>
   
    <p style="text-align: center;">©2021 AnimalShelter Charities®, Inc. All rights reserved.</p>
    </footer>
    <hr class="myhr1">
      
    
  
  
  
  
  
  <!--------Sign Up Modal---->
  
  <div class="modal" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!--<div class="modal-header">
          <h5 class="modal-title">Sign Up</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>-->
        <div class="modal-body">
  
         <!--<form [formGroup]="registerForm" (ngSubmit)="submitData()">
  
            <div class="row">
              <div class="mb-3 col-lg-6 col-6">
                <label for="exampleInputEmail1" class="form-label">FirstName</label>
                <input type="text" formControlName="FirstName" class="form-control" id="exampleInputtext"
                  aria-describedby="textHelp">
                <div *ngIf="FirstName.invalid && (FirstName.touched || FirstName.dirty)">
                  <span class="error" *ngIf="FirstName.errors?.required">*First Name is Required</span>
                  <span class="error" *ngIf="FirstName.errors?.pattern">*Enter Only Characters</span>
                </div>
              </div>
  
              <div class="mb-3 col-lg-6 col-6">
                <label for="exampleInputEmail1" class="form-label">LastName</label>
                <input type="text" formControlName="LastName" class="form-control" id="exampleInputtext"
                  aria-describedby="textHelp">
                <div *ngIf="LastName.invalid && (LastName.touched || LastName.dirty)">
                  <span class="error" *ngIf="LastName.errors?.required">*Last Name is Required</span>
                  <span class="error" *ngIf="LastName.errors?.pattern">*Enter Only Characters</span>
                </div>
              </div>
            </div>
  
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" formControlName="Emails" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
  
              <div *ngIf="Emails.invalid && (Emails.touched || Emails.dirty)">
                <span class="error" *ngIf="Emails.errors?.required">*Email Address is Required</span>
                <span class="error" *ngIf="Emails.errors?.email">*Email Address is Not Valid</span>
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" formControlName="Passwords" class="form-control" id="exampleInputPassword1">
  
              <div *ngIf="Passwords.invalid && (Passwords.touched || Passwords.dirty)">
                <span class="error" *ngIf="Passwords.errors?.required">*Password is Required</span>
  
              </div>
              
                <br>
              <button type="submit" [disabled]="registerForm.invalid" (onClick)="submitData()"
                class="btn btn-secondary">Submit</button>
  
            </div>
          </form>-->
          <div class="container">
            <header class="headd">SignUp Form</header>
            <form [formGroup]="registerForm" (ngSubmit)="submitData()">
              <div class="input-field">
                <input type="text" formControlName="FirstName" class="form-control" required>
                <label>Name</label>
                <div *ngIf="FirstName.invalid && (FirstName.touched || FirstName.dirty)">
                  <span class="error" *ngIf="FirstName.errors?.required">*First Name is Required</span>
                  <span class="error" *ngIf="FirstName.errors?.pattern">*Enter Only Characters</span>
                </div>
              </div>
              <div class="input-field">
                <input type="text" formControlName="Emails" class="form-control" required>
                <label>Email</label>
                <div *ngIf="Emails.invalid && (Emails.touched || Emails.dirty)">
                  <span class="error" *ngIf="Emails.errors?.required">*Email Address is Required</span>
                  <span class="error" *ngIf="Emails.errors?.email">*Email Address is Not Valid</span>
                </div>
              </div>
             
              <div class="input-field">
                <input class="pswrd" formControlName="Passwords" class="form-control" type="password" required>
                <span class="show" onclick="active()">SHOW</span>
                <label>Password</label>
                <div *ngIf="Passwords.invalid && (Passwords.touched || Passwords.dirty)">
                  <span class="error" *ngIf="Passwords.errors?.required">*Password is Required</span>
                  
                </div>
              </div>
              <!--<div class="input-field">
                <input class="pswrd" type="password" required>
                <span class="show" onclick="active()">SHOW</span>
                <label> Conform Password</label>
              </div>-->
              <div class="col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                  <span>
                    Agree to terms and conditions
                  </span>
                  <div class="invalid-feedback">
                    You must agree before submitting.
                  </div>
                </div>
              </div>
              <div class="button">
                <div class="inner"></div>
                <button>SIGN UP</button>
              </div>
            </form>
  
          </div>
  
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
     